{:thanks {:texts ["Thanks for participating."
                  "Have a gif!"]
          :gifs ["thanks"
                 "sweet"
                 "kudos"
                 "dinosaurs"
                 "cheers"]}}
